.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  
  .contact-form h3 {
    margin-top: 10px;
  }
  